cdata7_*
*.mod
*.o
*.obj
*.err
*.out
*.log
*.su
.DS_Store

Manuals/Bibliography/
Manuals/CFAST_CData_Guide/*.aux
Manuals/CFAST_CData_Guide/*.bbl
Manuals/CFAST_CData_Guide/*.bcf
Manuals/CFAST_CData_Guide/*.blg
Manuals/CFAST_CData_Guide/*.lof
Manuals/CFAST_CData_Guide/*.log
Manuals/CFAST_CData_Guide/*.lot
Manuals/CFAST_CData_Guide/*.out
Manuals/CFAST_CData_Guide/*.run.xml
Manuals/CFAST_CData_Guide/*.toc
Manuals/CFAST_CData_Guide/Examples/*-[0-9].in
Manuals/CFAST_CData_Guide/Examples/*.bat
Manuals/CFAST_CData_Guide/Examples/*.log
Manuals/CFAST_CData_Guide/Examples/*.sh
Manuals/CFAST_CData_Guide/Examples/*_calculations.csv
Manuals/CFAST_CData_Guide/Examples/*_parameters.csv
Manuals/CFAST_CData_Guide/Examples/*_seeds.csv
